<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Assignment4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>XMLParsing</display-name>
    <servlet-name>XMLParsing</servlet-name>
    <servlet-class>XMLParsing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLParsing</servlet-name>
    <url-pattern>/XMLParsing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthentication</display-name>
    <servlet-name>UserAuthentication</servlet-name>
    <servlet-class>UserAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthentication</servlet-name>
    <url-pattern>/UserAuthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCustServlet</display-name>
    <servlet-name>GetAllCustServlet</servlet-name>
    <servlet-class>GetAllCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCustServlet</servlet-name>
    <url-pattern>/GetAllCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOneCustServlet</display-name>
    <servlet-name>GetOneCustServlet</servlet-name>
    <servlet-class>GetOneCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneCustServlet</servlet-name>
    <url-pattern>/GetOneCustServlet</url-pattern>
  </servlet-mapping>
</web-app>